.navbar {
	position: absolute;
	top: 0.5rem;
	left: 1rem;
	right: 1rem;
	display: flex;
	justify-content: space-evenly;
	background-color: var(--navbar-bg);
	padding: 0.5rem 0;
	border-radius: 100rem;
	box-shadow: var(--navbar-shadow);
	z-index: 1000;
}

.navbar a {
	color: var(--navbar-link);
	text-decoration: none;
	flex: 1;
	text-align: center;
	padding: 0.5rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
}

.navbar a:hover {
	color: var(--navbar-link-color-hover);
}

@media (max-width: 600px) {
	.navbar a {
		font-size: 0.8rem;
	}
}

.navbar a.active {
	background-color: var(--navbar-link-active-bg);
	color: var(--navbar-link-active-color);
	border-radius: 0.25rem;
}