.account-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 4rem;
  box-sizing: border-box;
  background-color: var(--blue1);
  font-size: 16px;
 }

 .account-card {
  background: var(--white);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px var(--shadow);
  max-width: 500px;
  width: 100%;
  text-align: left;
 }

 .account-card h3 {
  margin-top: 2em;
  margin-bottom: 1em;
  color: var(--gray1);
 }

 .account-card form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
 }

 .account-card input,
 .account-card textarea {
  padding: 10px;
  border: 1px solid var(--gray5);
  border-radius: 0.5em;
  font-family: inherit;
  margin-top: -5px;
 }

 .account-card button {
  padding: 6px;
  background-color: var(--blue4);
  color: var(--white);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: -5px;
 }

 .account-card button:hover {
  background-color: var(--blue3);
 }

 .message {
  font-size: 14px;
 }

 .success-message {
  color: var(--green);
}

.error-message {
  color: var(--red);
}

 .current-user {
  margin-bottom: 16px;
  color: var(--gray1);
}

.app-footer {
  background-color: var(--gray7);
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--black);
}

.footer-content p {
  margin: 5px 0;
}

.name-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.name-list li {
  margin: 0 5px;
}

.footer-date {
  margin-top: 10px;
}

/* Für mittlere Bildschirme */
@media (max-width: 768px) {
  .account-card {
    max-width: 400px;
  }
}

/* Für kleine Bildschirme (z. B. Smartphones) */
@media (max-width: 480px) {
  .account-card {
    max-width: 300px;
  }
}