<div class="navbar" [class.visible]="navbarVisible" (mouseenter)="showNavbar()" (mouseleave)="startNavbarFadeTimer()">
  <div class="navbar-group">
    <!-- Empfehlungsbutton mit integriertem Dropdown-Pfeil -->
    <div class="recommendation-button-wrapper">
      <button (click)="generateRecommendations()" [disabled]="isLoading">
        <span>Empfehlungen generieren</span>
        <span *ngIf="isLoading" class="loading-spinner"></span>
        <span 
          *ngIf="recommendationsList.length > 0" 
          class="dropdown-icon" 
          (click)="toggleDropdown($event)">
          ▼
        </span>
      </button>

      <div class="recommendation-dropdown" *ngIf="dropdownOpen">
        <ul>
          <li 
            *ngFor="let rec of recommendationsList" 
            (click)="flyToRecommendation(rec)">
            {{ rec.type }}: {{ rec.city }}, {{ rec.country }}
          </li>
        </ul>
      </div>
    </div>

    <!-- Restliche Buttons -->
    <button (click)="clearLocations()">Orte zurücksetzen</button>

    <select (change)="flyToLocation($event)">
      <option disabled selected>Ort auswählen...</option>
      <option *ngFor="let loc of selectedLocations; let i = index" [value]="i">
        {{ loc.city }}, {{ loc.country }}
      </option>
    </select>

    <input 
      type="text" 
      [(ngModel)]="searchQuery" 
      placeholder="Stadt, Land suchen..." 
      (keydown.enter)="searchAndAddMarker()" 
      class="search-input"
    />
  </div>
</div>
<!-- Karte -->
<div id="map"></div>


<!-- Legende -->
<div class="legend-toggle" (click)="toggleLegend()">
  ℹ️ Legende
</div>

<div class="legend-box" [class.visible]="legendVisible">
  <h4>Legende</h4>
  <ul>
    <li><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png" width="15"> Eigene Orte</li>
    <li><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png" width="15"> Safe Guess</li>
    <li><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png" width="15"> Experimentell</li>
    <li><img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png" width="15"> Geheimtipp</li>
  </ul>
</div>

