<div id="map"></div>

<h3>Ausgewählte Orte:</h3>
<ul>
  <li *ngFor="let loc of selectedLocations">
    {{ loc.city }}, {{ loc.country }}
  </li>
</ul>

<button (click)="generateRecommendations()">Empfehlungen generieren</button>

<div *ngIf="recommendations">
  <h3>Empfehlungen:</h3>
  <pre>{{ recommendations }}</pre>
</div>

<div style="margin-top: 20px; text-align: center;">
  <button (click)="generateRecommendations()">Empfehlungen generieren</button>
</div>

<div *ngIf="recommendations" style="margin-top: 20px;">
  <h3>Empfehlungen</h3>
  <pre>{{ recommendations }}</pre>
</div>