.account-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--blue1);
  font-size: 16px;
 }

 .account-card {
  background: var(--white);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 8px 24px var(--shadow);
  max-width: 500px;
  width: 100%;
  text-align: left;
 }

 .account-card button {
  padding: 6px;
  background-color: var(--blue4);
  color: var(--white);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: -5px;
 }

 .account-card button:hover {
  background-color: var(--blue3);
 }

 ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  margin: 0.5em;
  margin-top: -1em;
}

.account-card li {
  display: flex;
  flex-direction: column;
  gap: 0.5em; /* Abstand zwischen Name und Button */
  margin-top: 2em;
}

.disclaimer {
  margin: 0.5em;
  margin-top: 3em;
  padding: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  border-radius: 0.5em;
  background-color: var(--yellow-light);
  border: solid var(--yellow-dark);
  color: var(--yellow-dark);
}

.kpi-wrapper {
  margin-bottom: 1em;
  line-height: 1.4;
}

/* Für mittlere Bildschirme */
@media (max-width: 768px) {
  .account-card {
    max-width: 400px;
  }
}

/* Für kleine Bildschirme (z. B. Smartphones) */
@media (max-width: 480px) {
  .account-card {
    max-width: 300px;
  }
}